/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100vw;
  background-color: #333;
  overflow: hidden;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 46vw;
  min-width: 46vw;
  display: flex;
  flex-direction: column;
}
.cover-heading.hook{
  font-family: Helvetica, sans-serif;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
}.word-animation {
    background-repeat: no-repeat;
    background-size: 6000px 4000px;
    animation: diagonal-flow infinite linear;    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    box-decoration-break: clone;
    padding-right: 5px;
}
.word-animation:nth-of-type(1) { /* "Recover" */
  color: #d76a74;
  background-image: url(https://wallpaperaccess.com/download/gradient-ipad-11410009) !important;
  /*background-image: url(https://wallpaperaccess.com/full/4528446.jpg) !important;*/
  animation-duration: 30s;
  animation-delay: 10s;
  animation-direction: reverse;
}
.word-animation:nth-of-type(2) { /* "Shared" */
  color: yellow;
  background-image: url(https://wallpapercave.com/wp/wp15178531.webp) !important;
  animation-duration: 20s;
  margin-left: -100px;
}
.word-animation:nth-of-type(3) { /* "Journaling" */
  color: yellow;
  background-image: url(https://wallpapercave.com/wp/wp15178531.webp) !important;
  animation-duration: 20s;
}
.cover .stamp { 
  width: 100px;
  height: 100px;
  background-image: url(https://wallpapercave.com/wp/wp4550078.jpg);
  background-repeat: no-repeat;
  background-size: 300px 300px;
  box-decoration-break: clone;
  margin-right: -5px;
  border-radius: 5px;
  display: block;
}

.stamp:nth-of-type(1) { 
  float: inline-start;
  animation: 
    cycleStamps 15s steps(3) infinite,
    pressEffect 15s steps(15) infinite, 
    peelOff 2s ease forwards; 
}
.stamp:nth-of-type(2) { 
  float: inline-end;
  animation: 
    cycleStampsAlt 15s steps(3) infinite, /* background-position animation */
    pressEffect 15s steps(15) infinite,
    throwStamp 15s steps(3) infinite;
}
@keyframes diagonal-flow {
  0%   {   background-position: 100% 100%;  }
  100% {   background-position: 0px 0px;  }
}
/* Animate background-position to cycle through a 3-frame horizontal sprite */
@keyframes cycleStamps {
  0%, 30%   { background-position: 0 0; }   
  30.01%, 66% { background-position: -100px 0; } 
  66.01%, 100%{ background-position: -200px 0; } 
}
@keyframes cycleStampsAlt {
  0%, 30%   { background-position: -100px 0; }   
  30.01%, 66% { background-position: -100px -100px; } 
  66.01%, 100%{ background-position: -100px -200px; } 
}
@keyframes peelOff {
  0% {
    transform: rotate(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
  70% {
    transform: rotate(20deg) translate(10px, -50px) skew(10deg, 10deg);
    opacity: 1;
  }
  100% {
    transform: rotate(70deg) translate(50px, -150px) skew(20deg, 20deg);
    opacity: 0;
  }
}
/* Example element animation */
@keyframes throwStamp {
   0%, 6.66%   {
    opacity: 0;
    transform: /*translateY(200px)*/ rotate(-60deg) scale(0.5);
  }
  6.67%, 30%   {
    opacity: 1;
    transform: /*translateY(-10px)*/ rotate(15deg) scale(1.1);
  }
  30.01%, 40% {
    transform: rotate(-10deg) scale(0.95);
  } 
  40.01%, 66.65% {
    box-shadow: none;
  }
  66.01%, 100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}

/* Press effect synced with frame change */
@keyframes pressEffect {
  0%, 6.66% {
    box-shadow: inset 0 4px 10px rgba(0,0,0,0.6);
    transform: translateY(3px);
  }
  6.67%, 30% {
    box-shadow: none;
    transform: translateY(0) ;
  }
  30.01%, 40% {
    box-shadow: inset 0 4px 10px rgba(0,0,0,0.6) ;
    transform: translateY(3px) ;
  } 
  40.01%, 66.65% {
    box-shadow: none;
    transform: translateY(0) ;
  }
  66.66%, 73.33% {
    box-shadow: inset 0 4px 10px rgba(0,0,0,0.6) ;
    transform: translateY(3px) ;
  }
  73.34%, 100% {
    box-shadow: none;
    transform: translateY(0) ;
  }
}

/** Header */
.masthead {
  margin-bottom: 2rem;
}

.masthead > .inner{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: baseline;
}
.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
